@inherits LayoutComponentBase

<MudThemeProvider Theme="_currentTheme" />
<MudDialogProvider FullWidth="true" MaxWidth="MaxWidth.ExtraSmall" />
<MudSnackbarProvider />

<MudLayout RightToLeft="@_rightToLeft">
    <MudAppBar>
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="MudBlazor.Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        <MudHidden Breakpoint="MudBlazor.Breakpoint.SmAndUp" Invert="true">
             <MudText Typo="Typo.body1" Align="Align.Center">BLAZOR CRYPTO TRACKER</MudText>

        </MudHidden>
        <MudSpacer />

        <MudSpacer />
        <MudHidden Breakpoint="MudBlazor.Breakpoint.MdAndUp" Invert="true">
            <MudTooltip Text="Toggle light/dark theme">
                <MudIconButton Icon="@Icons.Material.Filled.Brightness4" Color="MudBlazor.Color.Inherit" OnClick="@((e) => DarkMode())" />
                   
            </MudTooltip>
            <MudTooltip Text="Check out the repo">
                <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="MudBlazor.Color.Inherit" Link="https://github.com/madebygps/crypto-ticker-dotnet" Target="_blank"/>
            </MudTooltip>
            
        </MudHidden>
        <MudHidden Breakpoint="MudBlazor.Breakpoint.SmAndDown" Invert="true">
            <MudMenu Icon="@Icons.Filled.Settings" Color="MudBlazor.Color.Inherit" Dense="true" Direction="MudBlazor.Direction.Right" OffsetY="true">
                <div class="px-2">
                    <MudIconButton Icon="@Icons.Material.Filled.Brightness4" Color="MudBlazor.Color.Inherit" OnClick="@((e) => DarkMode())" />
                   
                        <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="MudBlazor.Color.Inherit" />
                </div>
            </MudMenu>
        </MudHidden>
    </MudAppBar>

    <MudDrawer @bind-Open=_drawerOpen Elevation="25" Class="mudblazor-appbar-band">
        <MudDrawerHeader Class="mudblazor-brand" LinkToIndex="true">

            

        </MudDrawerHeader>
        <NavMenu/>
    </MudDrawer>
    <MudMainContent Class="mudblazor-main-content">
        <MudContainer MaxWidth="MaxWidth.Large">
            @Body
        </MudContainer>

        <MudScrollToTop TopOffset="400">
            <MudFab Icon="@Icons.Material.Filled.KeyboardArrowUp" Color="MudBlazor.Color.Primary" />
        </MudScrollToTop>
    </MudMainContent>

</MudLayout>

<MudContainer class="mt-16" MaxWidth="MaxWidth.ExtraSmall">
    <MudText Typo="Typo.body1" Align="Align.Center">Made with Azure Functions, <MudIcon Icon="@Icons.Material.Filled.Favorite" Color="MudBlazor.Color.Error" Title="Favorite" /> and Blazor</MudText>

  
   <MudButton Link="https://github.com/madebygps/crypto-ticker-dotnet"
           Target="_blank"
           Variant="Variant.Text"
           EndIcon="@Icons.Custom.Brands.GitHub"
           Color="MudBlazor.Color.Secondary"
           Style="text-transform:none"
           FullWidth="true"
           >
    GitHub Link
</MudButton>
</MudContainer>

@code
{

    private bool _drawerOpen = false;
    private bool _rightToLeft = false;
    private string searchValue = string.Empty;

    private void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

    private void RightToLeftToggle()
    {
        _rightToLeft = !_rightToLeft;
    }

    protected override void OnInitialized()
    {
        _currentTheme = _defaultTheme;

    }

    #region Theme

    private void DarkMode()
    {
        if (_currentTheme == _defaultTheme)
        {
            _currentTheme = _darkTheme;
        }
        else
        {
            _currentTheme = _defaultTheme;
        }
    }

    private MudTheme _currentTheme = new MudTheme();
    private readonly MudTheme _defaultTheme =
        new MudTheme()
        {
            Palette = new Palette()
            {
                Black = "#272c34"
            }
        };
    private readonly MudTheme _darkTheme =
        new MudTheme()
        {
            Palette = new Palette()
            {
                Black = "#27272f",
                Background = "#32333d",
                BackgroundGrey = "#27272f",
                Surface = "#373740",
                DrawerBackground = "#27272f",
                DrawerText = "rgba(255,255,255, 0.50)",
                AppbarBackground = "#27272f",
                AppbarText = "rgba(255,255,255, 0.70)",
                TextPrimary = "rgba(255,255,255, 0.70)",
                TextSecondary = "rgba(255,255,255, 0.50)",
                ActionDefault = "#adadb1",
                ActionDisabled = "rgba(255,255,255, 0.26)",
                ActionDisabledBackground = "rgba(255,255,255, 0.12)",
                DrawerIcon = "rgba(255,255,255, 0.50)"
            }
        };

    #endregion

}